* {
    box-sizing: border-box;
    margin: 0;
}

.head {
    background-image: linear-gradient(#ece0e0, #9198e5);
    width: 100%;
    padding: 5%;
    text-align: center;
}

.input_ {
    margin-top: 10px;
    text-align: center;
}

input[type="text"] {
    width: 300px;
    height: 20px;
}

.todo {
    border: 1px solid black;
    width: 60%;
    height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
    /* text-align: center; */
    margin: auto;
    margin-top: 10px;
}
li{
    border-bottom: 1px solid black;
    height: 25px;
    margin: 5px;
}
#output_ {
    border: 1px solid black;
    margin: auto;
    width: 60%;
    height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
    /* text-align: center; */
}
.edit{
    float: right;
}
.delete{
    float: right;
}

.save{
    float: right;
}
.checkd{
    float: right;
    
}
.input_todo{
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
}

